form{
    background-color:lightskyblue;color:black;
    background-image:url('tenor.gif');
      background-repeat:no-repeat;
    
   background-position: 80% 50%;
     
}   
legend{ border: 10px red;border-style:groove;background-color: black; color: yellow; text-align: center;}
fieldset{font-weight: bold;font-size: 20px;}
input[type=submit]{border:10px red;
border-style: ridge;background-color: cornflowerblue;
font-family:'Times New Roman';
font-weight:bolder;
font-size: 25px;
color: red;height: 50px;width: 500px;opacity: 0.7;
}
input[type=submit]:hover{opacity:1.2;}
input[type="radio"] {

   vertical-align: middle;
 }
body{ background-color:lavender ;}